{{#if articleEntry}}
<script src="/imageInArticle.js"></script>
<h1 id="title">
    {{article.Title}}
</h1>
<h3> By {{article.UserID}}</h3>
<h3>{{article.PublishDate}}</h3>



<div id="content">
    {{{article.Content}}}
</div>
<div data-author={{author.UserID}} id="images">

    {{#each images}}
    <img class="images" data-imageURL={{this.ImageURL}}>
    {{/each }}
    <a href="" id="author_info" data-author={{article.UserID}}>
        author's page
    </a>
    <form id= "theEditForm" action="./editArticle">
        <div id="form-edit-form">
            <input type="hidden" id="postId" name="postId" value = {{articleId}}>
            <button type="submit">Edit the article!</button>
        </div>
    </form>

    {{!-- <a href="./editArticle">Edit the article</a> --}}
    <a href="">Delete the article</a>
    <a href="/gallery">Back to Gallery</a>

    {{else}}
    <p>No article available.</p>
    {{/if}}