    {{#if articleEntry}}
    <h1>
        {{title}}
    </h1>
    <h3> By {{userName}}</h3>
    <h3>{{publishDate}}</h3>
    <div id="content">
        {{content}}
    </div>

    <div id="tags">

    </div>
    <div id="author_info" data-author={{userId}}>
        {{about}}
    </div>

    {{else}}
    <p>No articles available </p>

    {{/if}}