<script src="./galleryMenu.js"></script>

<div class="container">
    <div id="articles-grid">
        <div class="article-list">
            <h1>ARTICLE INDEX / NAVIGATION</h1>
            {{#each articles }}
            <button data-article="{{ArticleID}}">
                <a href="./entry/{{ArticleID}}">{{Title}}<br>
                    <p>{{PublishDate}}</p>
                </a>
            </button>
            {{/each}}
        </div>

        {{#if loggedIn}}
        <br>
        <div class="my-articles">
            <h2>Your articles</h2>
            {{#each userArticles}}
            <button data-article="{{ArticleID}}">
                <a href="./entry/{{ArticleID}}">{{Title}}<br>
                    <p>{{PublishDate}}</p>
                </a>
            </button>
            {{/each}}

            {{/if}}
        </div>
    </div>
</div>