
<script src="./location.js"></script>

<div> 
<h3>Top Locations</h3>
<ul id="toplocationlist">
    {{#each topLocations}}
    <li id="{{this.LocationID}}" class="locationlistitems">{{this.Name}}</li>
    {{/each}}
</ul>

<h3>All Locations</h3>
 <ul id="alllocationlist">
    {{#each allLocations}}
    <li id="{{this.LocationID}}" class="locationlistitems">{{this.Name}}</li>
    {{/each}}
</ul>

</div>

{{#if locationDataName}}
    <div id=" selected location info">  
    <h3 id="selectedName">About {{this.locationDataName}}</h3>
    <p id="selectedDescription">Description: {{this.locationDataDescription}}</p>
    <p id="likes">Location likes: {{this.locationLikes}}</p>
    <div id="weather">
        <h3>Weather in {{this.locationDataName}} right now</h3>
        <p>Temperature:{{this.tempAtLocation}} celcius</p>
        <p>Humidity: {{this.humidity}}%</p>
        <p>UV Index: {{this.uvindex}} </p>
        <p>Wind Speed: {{this.windspeed}} km/ph</p>
        <p>Cover: {{this.cloudcover}}%</p> 
        
{{else}}
    <h3 id="selectedName">About New Zealand</h3>
    <p>New Zealand is a welcoming, diverse country with a history of Māori, European, Pacific Island, and Asian immigration. 
        This rich blend of cultures, combined with geologically fascinating landscapes and unique flora and fauna, make New Zealand an exciting country to explore.
        Click on one of the locations listed to explore article about the area.</p>
{{/if}}
</div>

<div id = "Articles">
    <h3>Articles for location</h3>
     <ul id="articlesbylocationlist">
    {{#each articlesByLocation}}
        <li id="{{this.ArticleID}}" class="locationlistitems">{{this.Title}}</li>
    {{/each}}  
    </ul> 
</div>